<h1>Listing borrows</h1>

<table>
  <tr>
    <th>Request date</th>
    <th>Item</th>
    <th>User</th>
    <th>Status</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @borrows.each do |borrow| %>
  <tr>
    <td><%= borrow.request_date %></td>
    <td><%= borrow.item_id %></td>
    <td><%= borrow.user_id %></td>
    <td><%= borrow.status %></td>
    <td><%= borrow.start_date %></td>
    <td><%= borrow.end_date %></td>
    <td><%= link_to 'Show', borrow %></td>
    <td><%= link_to 'Edit', edit_borrow_path(borrow) %></td>
    <td><%= link_to 'Destroy', borrow, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Borrow', new_borrow_path %>
