<p id="notice"><%= notice %></p>

<p>
  <b>Request date:</b>
  <%= @borrow.request_date %>
</p>

<p>
  <b>Item:</b>
  <%= @borrow.item_id %>
</p>

<p>
  <b>User:</b>
  <%= @borrow.user_id %>
</p>

<p>
  <b>Status:</b>
  <%= @borrow.status %>
</p>

<p>
  <b>Start date:</b>
  <%= @borrow.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @borrow.end_date %>
</p>


<%= link_to 'Edit', edit_borrow_path(@borrow) %> |
<%= link_to 'Back', borrows_path %>
